<seq-presets (loadPreset)="presetChange($event)"></seq-presets>

<div class="card mb-3">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active' : selectedTab === 'time'}" (click)="selectedTab = 'time'"
                    href="javascript:void(0);">Time</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active' : selectedTab === 'function'}"
                    (click)="selectedTab = 'function'" href="javascript:void(0);">Factors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active' : selectedTab === 'scale'}" (click)="selectedTab = 'scale'"
                    href="javascript:void(0);">Scale</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active' : selectedTab === 'perform'}" (click)="selectedTab = 'perform'"
                    href="javascript:void(0);">Perform</a>
            </li>
        </ul>
    </div>
    <div [hidden]="selectedTab !== 'time'" class="card-body pb-2">
        <form class="form-inline">
            <div class="form-group btn-group" role="group">
                <button type="button" class="btn btn-danger" (click)="stopGraph()">
                    <i class="fa fa-stop" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-success" (click)="startGraph()">
                    <i class="fa fa-play" aria-hidden="true"></i>
                </button>
            </div>
            <div class="form-group ml-3">
                <label>BPM: </label>
                <input type="number" name="period" class="form-control ml-2" [(ngModel)]="preset.params.time" min="1"
                    max="600">
            </div>
            <div class="form-group ml-3">
                <label>Start: </label>
                <input type="number" name="start" class="form-control ml-2" [(ngModel)]="preset.params.start" min="0"
                    max="1000000" step="0.01">
            </div>
            <div class="form-group ml-3">
                <label>Loop: </label>
                <input type="number" name="loop" class="form-control ml-2" [(ngModel)]="preset.params.loop" min="0"
                    max="1000000" step="0.01">
            </div>
            <div class="form-group ml-3">
                <label>Time: {{time | number:'1.2-2'}}</label>
            </div>
        </form>
    </div>
    <div [hidden]="selectedTab !== 'function'" class="card-body pb-2">
        <form class="form-inline">
            <div class="form-group">
                <label>Size: </label>
                <input type="number" name="size" class="form-control ml-2" min="1" max="32"
                    [(ngModel)]="preset.params.size" (ngModelChange)="refreshAll()">
            </div>
            <div class="form-group ml-3">
                <label>Distribution:</label>
                <select class="form-control ml-2" name="output" [(ngModel)]="preset.params.factorType"
                    (ngModelChange)="refreshLabels()">
                    <option *ngFor="let factorType of factorTypes" [ngValue]="factorType">{{factorType}}
                    </option>
                </select>
            </div>
            <div class="form-group ml-3">
                <label>Factor: </label>
                <input type="number" name="factor" class="form-control ml-2" step="0.01" min="-100" max="100"
                    [(ngModel)]="preset.params.factor" (ngModelChange)="refreshLabels()">
            </div>
            <div class="form-group ml-3">
                <label>Split: </label>
                <input type="number" name="phase" class="form-control ml-2" min="1" max="32"
                    [(ngModel)]="preset.params.split" (ngModelChange)="refreshLabels()">
            </div>
            <div class="form-group ml-3">
                <div class="form-check">
                    <input class="form-check-input" name="reverse" type="checkbox" value="" id="reverse"
                        [(ngModel)]="preset.params.reverse" (ngModelChange)="refreshLabels()">
                    <label class="form-check-label" for="reverse">
                        Reverse
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div [hidden]="selectedTab !== 'scale'" class="card-body pb-2">
        <seq-scales [preset]="preset" (parameterChange)="refreshLabels()"></seq-scales>
    </div>
    <div [hidden]="selectedTab !== 'perform'" class="card-body pb-2">

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <form class="form-inline">
                    <div class="form-group btn-group" role="group">
                        <button type="button" class="btn btn-lg btn-danger" (click)="stopGraph()">
                            <i class="fa fa-stop" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-lg btn-success" (click)="startGraph()">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="form-group btn-group ml-4" role="group">
                        <button type="button" class="btn btn-lg btn-warning" (click)="tapTempo()">
                            <i class="fa fa-heartbeat" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="form-group ml-2">
                        <input type="number" name="time" class="form-control ml-2" [(ngModel)]="preset.params.time"
                            min="1" max="600">
                    </div>
                </form>

            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <label for="sizeRange">Size: {{params.size}}</label>
                <input type="range" class="custom-range mb-3" [(ngModel)]="preset.params.size"
                    (ngModelChange)="refreshAll()" min="1" max="32" id="sizeRange">
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <label for="selectRange">Select: {{params.select}}</label>
                <input type="range" class="custom-range mb-3" [(ngModel)]="preset.params.select"
                    (ngModelChange)="refreshAll()" min="1" max="32" id="selectRange">
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <label for="splitRange">Split: {{params.split}}</label>
                <input type="range" class="custom-range mb-3" [(ngModel)]="preset.params.split"
                    (ngModelChange)="refreshLabels()" min="1" max="32" id="splitRange">
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <label for="rootRange">Root: {{params.root}}</label>
                <input type="range" class="custom-range mb-3" [(ngModel)]="preset.params.root"
                    (ngModelChange)="refreshLabels()" min="1" max="32" id="rootRange">
                <div class="form-group btn-group" role="group">
                    <button type="button" class="btn  btn-lg btn-outline-danger" (click)="performRoot(-3)">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn  btn-lg btn-outline-danger" (click)="performRoot(-1)">
                        <i class="fa fa-minus-circle" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-lg btn-outline-success" (click)="performRoot(1)">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-lg btn-outline-success" (click)="performRoot(3)">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

        </div>

    </div>

    <div class="list-group list-group-flush">
        <div class="list-group-item pt-0 pb-2 px-0">
            <svg id="chart" width="100%" height="200" class="card-img my-3">
                <g stroke="lightgray"></g>
            </svg>
        </div>
    </div>
</div>